<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <!-- we set ngSubmit listener and here we listen for onSubmit()-->
            <!-- now we will connect the fuctionality for the form
            here we have the formGroup directory
            we use [] for formgroup because we need to pass some data
            and the data is recipeForm-->
            <!-- now we will tell Angular tht the all form is managed by us-->
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        type="submit" 
                        class="btn btn-success">Save</button>
                    <button 
                        type="button" 
                        class="btn btn-danger">Cancel</button>
                </div>
            </div>
        <!-- these two buttons allow to control the form in the end-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                            type="text" 
                            id="name"
                            class="form-control"
                            formControlName="name">
        <!-- here we have formControlName directive
        if we dont use [] then we can pass the data in the ''
    all the data that we pass must be similar to the names declared in the recipe-edit component.ts-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                     <label for="imagePath">Image URL</label>
                        <input 
                            type="text" 
                            id="imagePath"
                            class="form-control"
                            formControlName="imagePath">
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="" class="img-responsive">
                </div>
            </div>
        <!-- we create form without an action because we dont want to create a request -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                            type="text"
                            id="description"
                            class="form-control"
                            formControlName="description"
                            rows="6">
                        </textarea>
                    </div>
                </div>
            </div>
                <div 
                    class="col-xs-12" 
                    formArrayName="ingredients">
                        <div 
                            class="row"
                            *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index;" 
                            [formGroupName]="i"
                            style="margin-top: 10px">
                        <!-- we loop throught the form and then get the ingredient
                        this gives acces to all form controls 
                        with property binding, here we bind the i-->
                <div class="col-xs-8">
                    <input 
                        type="text"
                        class="form-control"
                        formControlName="name">
                </div>
                <div class="col-xs-2">
                    <input 
                        type="number"
                        class="form-control"
                        formControlName="amount">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-danger">X</button>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <button 
                            type="button"
                            class="btn btn-success"
                            (click)="onAddIngredient()">Add Ingredient</button>
                    </div>
                </div>
             </div>
        </div>
    </form>
</div>
</div>