<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes; let i = index;"
      [recipe]="recipeEl"
      [index]="i"
      ></app-recipe-item>
      <!-- here we deleted the event because we use service for it
      and after we can get rid of onRecipeSelected method in the recipe-list.component.ts-->
  </div>
</div>

